
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Quicksand:wght@300&family=Roboto+Condensed&display=swap');
@import "variables";


* {
    margin: 0;
    padding: 0;
}

@mixin align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin align-center-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




body {
    font-family:'Quicksand', sans-serif;
    font-size: 2em;
    color: white;

    .test{
        color: black;
    }

    .parallax-wrapper {
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        perspective: 300px;
        

        .outro-screen {
            height: 100vh;
            background-color: teal;
            @include align-center;
        }

        .parallax-group {
            position: relative;
            height: 60vh;
            transform-style: preserve-3d;
            color: $primaryTextColor;
            font-size: 2.5em;
            font-weight: bold;
            

            .parallax-layer {
                position: absolute;
                inset: 0;
                @include align-center;
                flex-direction: column;

                .top-text-main {
                    color: $primaryTextColor;
                    font-weight:lighter;
                    font-size: 4.5rem;
                    font-family: $titleScreenFont;
                    text-align: center;
                    letter-spacing: 0.2rem;
                    translate: 0px -75px;
                    position: relative;
                    width: 7em;
                }
                .top-text-sub-main {
                    color: $primaryTextColor;
                    translate: 0px -75px;
                    font-family: $titleScreenFont;
                }


            }

            .base-layer {
                //scale calc: 1 + ((Z transform value * -1) / perspective)
                transform: translateZ(-300px) scale(2.1);
                //background-color: black;

                .pc-screen {
                    width:100px;
                    height: 100px;
                    background-color: blue;
                }

                .base-img {
                    height: 10vh;
                    width: 5vw;
                    filter: brightness(70%);
                    position: relative;
                    bottom: 0px;
                }
            }
            .mid-layer {
                transform: translateZ(0);
            }
            .top-layer {
                transform: translateZ(210px) scale(0.3);
            }
        }

        .outro-screen {
            height: 100vh;
            background-color: $primaryTextColor;
            color: black; 
            @include align-center;
        }

        #intro {
            z-index: 0;
        }
        #group1 {
            z-index: -1;
        }

    }

}