@import "./variables.module.scss";

@mixin align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*body {  
    //background: linear-gradient(45deg, #57003f 0%,#f57453 100%);
    background: linear-gradient(-45deg, #F46036, #57003f, #f57453);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite; 
    font-family: "Ubuntu";
}*/
  
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.contactContainer {
    @include align-center;
    
    flex-direction: column;
    padding-left: 12%;
    padding-right: 12%;
    padding-bottom: 2%;

    .titleWrap {
        margin: 10px;
        margin-bottom: 0px;
        margin-top: 2%;

        .titleText {
            color: $secondaryWhite;
            font-size: 25px;
            margin-bottom: 0px;
        }
    }

    .horizontalLine {
        color: $secondaryWhite;
        width: 110%;
        margin: 10px;
        margin-bottom: 30px;
        
    }
}