
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Quicksand:wght@300&family=Roboto+Condensed&display=swap');
@import "variables.module.scss";


* {
    margin: 0;
    padding: 0;
    
}

@mixin align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin align-center-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.p, p {
	font-size: $dynamicFontSmall;
	color: $secondaryBlack;
}

.h1, h1 {
    font-size: $dynamicFontLarge;
    color: white;
    text-align: center;
    font-family: $Montserrat;
    font-weight: 100;
}


.h3, h3 {
    font-size: $dynamicFontSmall ;
	color: white;
	font-family: $Montserrat;
	line-height: 25px;
    font-weight: 100;
}

.li, li {
	font-size: $dynamicFontSmall;
	color: black;
	font-family: $Montserrat;
	font-weight: 200;
	position: relative;
	left: 20px;
	line-height: 25px;	

}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body {
    font-family:'Quicksand', sans-serif;
    font-size: 2em;
    color: white;

    

    ::-moz-selection { /* Code for Firefox */
        color: red;
        background: yellow;
      }
      
      ::selection {
        color: red;
        background: yellow;
      }


    .parallax-wrapper {
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        perspective: 300px;
        background: linear-gradient(-45deg, #E93C0C, #57003f, #f57453);
        background-size: 400% 400%;
        animation: gradient 20s ease infinite; 
        

        .outro-screen {
            height: 100vh;
            background-color: teal;
            @include align-center;
        }

        .parallax-group {
            position: relative;
            height: 60vh;
            transform-style: preserve-3d;
            color: $primaryTextColor;
            font-size: 2.5em;
            font-weight: bold;
            scrollbar-color:black;
            

            .parallax-layer {
                position: absolute;
                inset: 0;
                @include align-center;
                flex-direction: column;

                .text-and-cursor{
                    display: flex;
                    position: relative;
                    top: 1em;                

                    .bottom-text{
                        color: $primaryTextColor;
                        font-weight:lighter;
                        font-family: $ubuntuMonoFont;
                        letter-spacing: 0.2rem;
                        font-size: 20px;

                    }

                    #terminal__prompt--cursor {  
                        display: block;  
                        height: 17px;  
                        width: 8px;  
                        margin-left: 9px;  
                        animation: blink 1200ms linear infinite;
                    }

                    /* DEMO-SPECIFIC STYLES */
                    .typewriter h1 {
                        color: $primaryTextColor;
                        font-family: $ubuntuMonoFont;
                        font-size: 20px;
                        font-weight: lighter;
                        overflow: hidden; /* Ensures the content is not revealed until the animation */
                        border-right: .55em solid $primaryTextColor; /* The typwriter cursor */
                        white-space: nowrap; /* Keeps the content on a single line */
                        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
                        letter-spacing: .15em; /* Adjust as needed */
                        animation: 
                        typing 4s steps(30, end),
                        blink-caret 1s step-end infinite;
                    }
                    
                    /* The typing effect */
                    @keyframes typing {
                        from { width: 0 }
                        to { width: 100% }
                    }
                    
                    /* The typewriter cursor effect */
                    @keyframes blink-caret {
                        from, to { border-color: transparent }
                        50% { border-color: $primaryTextColor }
                    }






                }

                .top-text-main {
                    color: $primaryTextColor;
                    font-weight:lighter;
                    font-size: 4.5rem;
                    font-family: $titleScreenFont;
                    text-align: center;
                    letter-spacing: 0.2rem;
                    translate: 0px -75px;
                    position: relative;
                    width: 7em;
                }
                .top-text-sub-main {
                    color: $primaryTextColor;
                    translate: 0px -75px;
                    font-family: $titleScreenFont;
                    text-align: center;
                    font-size: $dynamicFontMedium;
                }


            }

            .base-layer {
                //scale calc: 1 + ((Z transform value * -1) / perspective)
                transform: translateZ(-300px) scale(2.1);

                .base-img {
                    height: 10vh;
                    width: 5vw;
                    filter: brightness(70%);
                    position: relative;
                    bottom: 0px;
                }
            }

            .mid-layer {
                transform: translateZ(0);
            }
            .top-layer {
                transform: translateZ(210px) scale(0.3);
            }
        }

        .outro-screen {
            height: 100vh;
            background-color: $primaryTextColor;
            color: black; 
            @include align-center;
        }

        #intro {
            z-index: 0;
        }
        #group1 {
            z-index: -1;
        }

    }

}