@mixin align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured-wrapper {
    @include align-center;
    background-color: #E7E5E5;
    flex-direction: column;
    padding-left: 12%;
    padding-right: 12%;
    padding-bottom: 2%;

    .solid {
        color: black;
        width: 110%;
        margin: 10px;
        margin-bottom: 30px;

      }
    .about-title {
        margin: 10px;
        margin-bottom: 0px;
        margin-top: 2%;
        .title-text {
            color: black;
            font-size: 25px;
            margin-bottom: 0px;
        }
    }

    /* transplant ... -----------------------------------------*/

    .featured-pane-lrg {
        background-color: blueviolet;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .pane-lrg {
            width: 100%;
            flex-grow: 1;
        }
    }

    /* large pane in featured -----------------------------------------*/
    .feat-row-wrap-lrg {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .feat-col-lrg {
            width: 100%;
            background-color: whitesmoke;
            padding:0%;
            flex-grow: 1;
            max-width: 20em;
            min-width: 2em;
            margin: 10px 10px; 
        }
    }

    /* small pane in featured ----------------------------------*/
    .feat-row-wrap-sml {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .feat-col-sml {
            width: 100%;
            background-color: whitesmoke;
            padding:0%;
            min-width: 1.5em;
            max-width: 15em;
            margin: 10px 10px;
            
            
        }
    }
    .about-text p{
        font-size: 0.5em;
    }
    .pane-wrapper {
        @include align-center;
        justify-content: space-between;
    }
}