@import "../variables.scss";

@mixin align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.featured-wrapper {
    @include align-center;
    background-color: #E7E5E5;
    flex-direction: column;
    padding-left: 12%;
    padding-right: 12%;
    padding-bottom: 2%;
    font-family: $Montserrat;
    font-weight: bolder;

    
    .solid {
        color: black;
        width: 110%;
        margin: 10px;
        margin-bottom: 30px;
      }
    .about-title {
        margin: 10px;
        margin-bottom: 0px;
        margin-top: 2%;
        bottom: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .my-picture{
            width: 200px;
            img{
                width: 200px;
                align-items: center;
            }
        }

        .title-text {
            color: black;
            font-size: 25px;
            margin-bottom: 0px;
            text-align: center;


            
        }

        .social-banner{
            .social-icon{
                margin:0.2em;
            }
        }

        #tt-sml {
            font-size: 15px;

        }

        .contact-btn{
            margin:1.5em;
            margin-bottom: 4em;
        }
        

        .desc-wrap{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
            .desc-single{
                color: black;
                display: flex;
                
                
                

            }
        }
    }
    
    /* large pane in featured -----------------------------------------*/
    .feat-row-wrap-lrg {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
          
        .feat-col-lrg {
            background-color: whitesmoke;
            padding:0%;
            margin: 10px 10px;
            position: relative;
            &:hover{
            
                bottom: 5px;
                box-shadow: 0 0 20px rgba(33,33,33,.2); 
            }
        }
    }

    @media screen and (max-width: 800px) {
        .feat-row-wrap-lrg {
          flex-direction: column;
        }
        .single-pane{
            position: relative;
            overflow: hidden;
            width: 60vw;
            height: 40vw;
            min-width: 200px;
            min-height: 300px;
            .pane-image{
                width: 60vw;
                min-height: 305px;
                min-width: 405px;
                position: relative; 
                filter: brightness(70%);      
            }
        }

        .accordion-body{
            width: 60vw;
        }
    }



    .about-text p{
        font-size: 0.5em;
    }
    .pane-wrapper {
        @include align-center;
        justify-content: space-between;
    }
}


#slk-ani{
    font-size: 1.5em;
}