@import "../variables";


.p, p {
	font-size: $dynamicFontSmall;
	color: black;
}

.h3, h3 {
    font-size: $dynamicFontSmall;
	color: black;
	font-family: $Montserrat;
	line-height: 25px;
}

.li, li {
	font-size: $dynamicFontSmall;
	color: black;
	font-family: $Montserrat;
	font-weight: 200;
	position: relative;
	left: 20px;
	line-height: 25px;	

}

.accordion-body{
	width:20vw;
}

.accordion-button:focus {
	z-index: 3;
	border-color: #86b7fe;
	outline: 0;
	box-shadow: 0 0 0 .25rem #39A9F950;
}


