.form-wrap{

    .email-form{
        display: flex;
        flex-direction: column;
        .form-input{
            margin: 10px;
            h3 {
                font-size: 0.6em;
                color: black;
            }
        }
    }
}

button, input, optgroup, select, textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	font-size: 0.6em;
}