
@import "../variables";

.single-pane{
    position: relative;
    overflow: hidden;
    width: 20vw;
    height: 20vw;
    min-width: 200px;
    min-height: 300px;

    .pane-image{
        width: 40vw;
        min-height: 305px;
        min-width: 405px;
        position: relative; 
        filter: brightness(70%);      
    }

    .pane-sub{
        position: absolute;
        top: 8px;
        left: 16px;
        font-size:$dynamicFontLarge;
        font-family: $ubuntuFont;
        &:hover{
            color: #F56476;
            font-size: calc(16px + 1.0vw);
            cursor: pointer;
        }
    }

    .pane-desc{
        color: black;
        position: absolute;
        min-height: 10em;
        bottom: 3em;
    }

    .pane-btn{
        position: absolute;
        bottom: 8px;
        left: 16px;
        width: calc(45px + 4vw);
        font-size: $dynamicFontSmall;
    }

}