@import "../variables";

@mixin align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Navbar container
.navbar-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 4;
    transition-timing-function: ease-in;
    transition: 0.5s;

    // Navbar right (menu)
    .navbar-navigation {
        text-decoration: none;
        display: flex;
        width: 100%;
        justify-content: space-between;

        // Navbar menu wrapper
        .nav-item-wrap {
            display: flex;

            // Navbar Item in Menu:
            .navbar-item {
                font-size: $dynamicFontSmall;
                font-family: $ubuntuMonoFont;
                text-align: center;
                width: 90px;
                //margin-right: 20px;
                //margin-left: 20px;
                margin: 20px;
                text-decoration: none;
            }
        }
        
        // Navbar menu text colour (scrolled)
        .nav-item-wrap a {
            color: white;
            &:hover{
                color: #F56476;
                text-shadow: 0.2px 0px 0px #F56476, -0.2px 0px 0px #F56476;

            }
        }


        // Navbar menu text colour (unscrolled)
        .nav-item-txt-color a {
            color: white;
            &:hover{
                color: #F56476;
                text-shadow: 0.2px 0px 0px #F56476, -0.2px 0px 0px #F56476;

            }
        }
    }
}


// navbar background
.nav-color {
    background-color:#1f1f1f95;
}

.navbar-transp {
    background-color:#1f1f1f20;

}



