@import "./variables.module.scss";

//About container:
.container {
    @include align-center;
    background-color: #E7E5E5;
    flex-direction: column;
    padding-bottom: 2%;
    font-family: $Montserrat;
    font-weight: bolder;
    //background-color: #E7E5E5;
    //background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='313' height='313' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23C4C4C4' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23FFFFFF'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    background-color: #26292B;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23555555' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23282828'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");

    //About Wrapper:
    .wrapper {
        margin-top: 2em;
        bottom: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .myIntro{
            color: white;
            //font-size: $dynamicFontMedium;
            margin: 1em;
        }

        .myDescription{
            color: white;
            font-size: $dynamicFontMedium;
        }

        .myLang{
            color: grey;
            font-size: $dynamicFontSmall;
        }
        
        //Profile Picture:
        .picture{
            overflow: hidden;
            border-radius: 50%;
            border: solid 2px $primaryRose;

            img{
                height: 200px;
                width: 200px;
            }

        }

        //Social Media Wrapper:
        .socialWrapper{
            //Socials Icons:
            .icon{
                margin:0.2em;
                &:hover{
                    transform: scale(1.1);
                    filter: invert(84%) sepia(0%) saturate(0%) hue-rotate(142deg) brightness(87%) contrast(92%);  
                }
            }
        }
        .contactBtn{
            margin:1.5em;
            margin-bottom: 4em;
            color: #c0d5eb;
            border-color: #b9cde2;
            border: 1px solid;
            background-color: transparent;
            cursor: pointer;
            padding: .375rem .75rem;
            font-size: 1rem;
            border-radius: .25rem;
            font-weight: 100;
            &:hover{
                border: 1px solid transparent;
                color: $secondaryWhite;
                background-color: black;
                transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            }
            
        }
    }
    
    /* Pane section in About -----------------------------------------*/

    //Pane Wrapper:
    .paneWrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin-bottom: 2em;
        
        //Individual Pane Column:
        .paneColumn {
            background-color: rgb(24, 26, 27);
            padding:0%;
            margin: 10px 10px;
            position: relative;
            border-radius: 10px;
            overflow: hidden;
            width: min-content;
            border: solid 1px rgb(70, 70, 70);
            &:hover{
                bottom: 5px;
                box-shadow: 0 0 20px rgba(233, 233, 233, 0.2); 
            }

            //Individual Content Pane:
            .pane{
                position: relative;
                overflow: hidden;
                width: 20vw;
                height: 20vw;
                min-width: 200px;
                min-height: 200px;
                max-height: 600px;

                //Individual Pane Image:
                .paneImage{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    filter: brightness(70%);      
                }

                //Text Overlay on Pane:
                .paneText{
                    position: absolute;
                    top: 8px;
                    left: 16px;
                    font-size:$dynamicFontMedium;
                    font-family: $ubuntuFont;
                    color: $primaryTextColor;
                    font-weight: 100;
                    &:hover{
                        color: $secondaryTextColor;
                        font-size: calc($dynamicFontMedium + 1px);
                        cursor: pointer;
                    }
                }
            
            }

        }
    }

// ------------------------------------------------------------------------

    //Responsive to width < 800
    @media screen and (max-width: 800px) {
        .paneWrapper {
          flex-direction: column;
          align-items: center   ;

          .paneColumn{
              width: 80%;
            .pane{
                position: relative;
                overflow: hidden;
                width: 60vw;
                height: 40vw;
                min-width: 200px;
                min-height: 300px;
                .paneImage{
                    width: 60vw;
                    min-height: 305px;
                    min-width: 405px;
                    position: relative; 
                    filter: brightness(70%);      
                }
            }


          }

          

        }
        

        
    }


    
}


#slk-ani{
    font-size: 1.5em;
}