@import "./variables.module.scss";

@mixin align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Navbar container
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 4;
    transition-timing-function: ease-in;
    transition: 0.5s;
    background-color:#1f1f1f95;
    

    // Navbar right (menu)
    .wrapper {
        text-decoration: none;
        display: flex;
        width: 100%;
        justify-content: center;

        // Navbar menu wrapper
        .itemContainer {
            display: flex;
            // Navbar menu text colour (scrolled)
            a {
                color: white;
                &:hover{
                    color: #F56476;
                    text-shadow: 0.2px 0px 0px #F56476, -0.2px 0px 0px #F56476;
                }
            }

            // Navbar Item in Menu:
            .item {
                font-size: $dynamicFontXSmall;
                font-family: $Montserrat;
                text-align: center;
                width: 16vw;
                margin: 20px;
                text-decoration: none;
            }
        }
        

    }
}


// navbar background
.nav-color {
    background-color:#1f1f1f95;
}

.navbar-transp {
    background-color:#1f1f1f20;

}



