@import "./variables.module.scss";



.whyMeContainer{
    background-color: #1F1F1F;
    padding: 2%;

    .whyMeWrapper{
        display: flex;
        flex-direction: column;
        align-items: center;


        .whyMeTitle{
            color: white;
            margin-bottom: 0.5em;
            font-weight: 800;
            //color: $secondaryBlue;
            margin: 1em;
        }

        .whyMeDescription{
            color: white;
            margin-bottom: 0.5em;
            align-self: center;
            text-align: center;
            margin-left: 12%;
            margin-right: 12%;
            font-weight: 100;
            font-size: $dynamicFontXSmall;
        }

        .benefitWrapper{
            display: flex;
            flex-direction: row;
            margin: 2em;
            flex-wrap: wrap;
            align-items: center;
            @media screen and (max-width: 800px) {
                width: 100%;
                justify-content: center;
                
            }
            

            .benefit{
                display: flex;
                height: 150px;
                width: 150px;
                flex-direction: column;
                align-items: center;
                text-align: center;
                justify-content: center;
                margin: 0.5em;
                flex-basis: 30%;
                

                .icon{
                    height: 100px;
                    width: 100px;
                    border-radius: 50%;
                    //background-color: #292929;
                    background-color: #ff9d00;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
                    background-attachment: fixed;
                    background-size: cover;
                    border: solid 1px white;
                    padding: 1em;;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    justify-content: center;
                    h1{
                        color: $secondaryWhite;
                    }

                    &:hover{
                        height: 105px;
                        width: 105px;
                        h1{
                            transform: scale(1.1);
                            color: $primaryRose;
                            cursor: pointer;
                        }
                    }
                }


              

                h3{
                    font-size: $dynamicFontXXSmall;
                }

                .benefitText{
                    color: $secondaryWhite;
                }

                .header{
                    color: black;
                }
            }
        }

    }
}

